---
- name: "wipe_disks:wipe_filesystem_signatures"
  ansible.builtin.command:
    argv:
      - "wipefs"
      - "-a"
      - "{{ disk.path }}"

- name: "wipe_disks:zero_disk:dd_lazy"
  when: "disk.type | default(wipe_disks_default_type) == 'dd_lazy'"
  changed_when: true
  ansible.builtin.command:
    argv:
      - "dd"
      - "if={{ disk.dd_if | default(wipe_disks_default_dd_if) }}"
      - "bs={{ disk.dd_bs | default(wipe_disks_default_dd_bs) }}"
      - "count={{ disk.dd_lazy_count | default(wipe_disks_default_dd_lazy_count) }}"
      - "{{ disk.dd_extra | default(wipe_disks_default_dd_extra) }}"
      - "of={{ disk.path }}"

- name: "wipe_disks:zero_disk:dd_full"
  when: "disk.type | default(wipe_disks_default_type) == 'dd_full'"
  changed_when: true
  ansible.builtin.command:
    argv:
      - "dd"
      - "if={{ disk.dd_if | default(wipe_disks_default_dd_if) }}"
      - "bs={{ disk.dd_bs | default(wipe_disks_default_dd_bs) }}"
      - "{{ disk.dd_extra | default(wipe_disks_default_dd_extra) }}"
      - "of={{ disk.path }}"

- name: "wipe_disks:zero_disk:blkdiscard"
  when: "disk.type | default(wipe_disks_default_type) == 'blkdiscard'"
  changed_when: true
  ansible.builtin.command:
    argv:
      - "blkdiscard"
      - "{{ '--secure' if disk.blkdiscard_secure | default(wipe_disks_default_blkdiscard_secure) else '' }}"
      - "{{ disk.path }}"
